.project-card {
    width: 600px;
    background-color: gray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.project-card > * {
    margin-left: 5px;
}

.project-title {
    font-size: 20px;
}

@media (max-width: 800px) {
    .project-card {
        width: 90%;
    }
}